.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  display: flex; /* Use flexbox for better alignment */
  justify-content: space-between; /* Space between logo and nav items */
  padding: 0 20px; /* Add some padding on the sides */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  align-items: center; /* Align items vertically */
}

.nav_grpup_name {
  color: white;
  margin-left: -500px;
  font-size: 20px; /* Increase font size for visibility */
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Display list items inline */
  align-items: center; /* Align items vertically */
}

.nav ul li {
  margin-right: 10px; /* Increase the space between menu items */
}

.nav ul li:last-child {
  margin-right: 100px;
}

.nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.nav ul li a:hover, .nav ul li a:focus {
  background-color: #555; /* Darken the button a bit on hover/focus */
  border-radius: 5px; /* Add rounded corners */
}

/* Additional enhancement for the logo */
.nav img {
  height: 50px; /* Adjust logo height */
  width: auto; /* Keep logo aspect ratio */
}
