.container {
    display: flex;
    justify-content: flex-start; /* Aligns children (contents) to the start (left side) of the container */
    align-items: top; /* Aligns children to the top of the container */
    padding: 20px;
    width: 100%; /* Ensure the container takes full width */
  }
  
  .searchBox {
    /* If you want to set a specific width or additional styling for the searchBox */
    width: auto; /* Or set a specific width if needed */
  }
  